#titleblock{
	background-image: url("Moto.jpg");
	background-repeat: no-repeat;
	background-position:center;
	background-attachment:fixed;
	background-size:cover;
	min-height:100vh;
}

	@media screen and (max-width: 320px) {
		#titleblock {
			background-image: url("Moto.jpg");
			background-repeat: no-repeat;
			background-position: center;
			background-attachment: scroll;
			background-size: cover;
			min-height: 100vh;
			}
	}

.covertext {
	font-family: 'Bitter', serif;
	color: #FCFCFC;
	font-size: 1.7em;
	line-height: .8;
	padding-top: 22%;
	text-align: center;
	margin-top: 0;
	opacity: 100%;
}

	@media screen and (max-width: 700px) {
		.covertext {
			padding-top: 40%;
			}
	}
	@media screen and (max-width: 320px) {
		.covertext {
			padding-top: 50%;
			}
	}

h4 {
	font-family: 'Bitter', serif;
	color: #FCFCFC;
	font-size: 1.2em;;
	text-align: center;
	margin-top: 0;
	opacity: 100%;
}

#empty{
	width:100%;
	height:50px;
	opacity: .95;
	background-color:#0E0E0E;
	top: 0;
	position:fixed;
	left:0;
	display:none;
}

.home{
	color:#F2F2F2;
	font-family: 'Bitter', serif;
	font-size: 1.3em;;
	padding-left: 10px;
	float:left;
	padding: 12px 0 12px 0;
	margin-right: 20px;
}

a {
	text-decoration: none;
	color:#F2F2F2;
}

.navelement {
	color:#D3D3D3;
	font-family: sans-serif;
	font-style: italic;
	font-size: .8em;
	display:inline-block;
	padding: 18px 0 18px 0;
	margin: 0 1% 0 1%;
}

	@media screen and (max-width: 1079px) {
		.navelement {
			visibility: hidden;
		}

	}

a:hover {
	opacity:.5;
}

#intext-link {
	color: blue;
}

section#main{
	margin: 0;
	padding: 5% 0 0 0;
	display: inline;
}


div.photoset-grid {
	margin: 0 auto;
}

h1 {
	font-family: 'Bitter', serif;
	color: 	#F4F4F4;
	font-size: 1.75em;
	margin-top: 4%;
	display: block;
	text-align:center;
}
		@media screen and (max-width: 440px) {
		h1 {
			font-size: 1.2em;
			padding-left: 5px;
			padding-right: 5px;
		}

	}
#RoommateApp {
	padding-top: 15px;
}
#Ebook {
	padding-top: 15px;
}
#WaterFilter {
	padding-top: 15px;
}
#UsabilityStudy {
	padding-top: 15px;
}
#VolunteerApp {
	padding-top: 15px;
}
#CareBranchApp {
	padding-top: 15px;
}
#SchoolFilter {
	padding-top: 15px;
}
#Ceramics{
	padding-top: 15px;
}

p{
	font-family: sans-serif;
	color: #090A0A;
	font-size: 1em;
	padding: 1.25% 0 3% 0;
	margin: 0 12.5% 0 12.5%;
}

	@media screen and (max-width: 440px) {
		p {
			font-size: .85em;
		}

	}

#Dimee {
	background-color: #090A0A;
	vertical-align: center;
	margin: 5% 12.5% 0 12.5%;
	padding: 1.75% 0;
}