#background {
	height: 50px;
	background-color: black;
}

#linkedin {
	position:absolute;
	top: 28px;
	right: 80px;
}

#twitter {
	position:absolute;
	top: 28px;
	right: 40px;
}

h1 {
	font-family: "Courier New";
	color: white;
	margin-left: 25px;
	padding-top: 9px;
}

.button {
	width: 35%;
}

#uxid {
	margin-top: 10%;
	padding-left: 23%;

}

#about {
	margin: 0 auto;
}

/**{
	border-style: dashed;
	border-width: 1px;
	border-color: black;
}*/

h2 {
	font-family: "Courier New";
	font-size: 2em;
	font-weight: .5;
	color: black;
	text-align: center;
}

p {
	font-family: "Courier New";
	font-size: 1em;
	color: black;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}
