@media only screen and (min-device-width : 320px) and (max-device-width: 568px) and (orientation: portrait) {
	body {
		background-width: 320px;
		font-size: 2em;
	}

	img {
		height: 2em;
		width: 2em;
	}

	#socialmedia{ 
	width: 300px;
	margin: 0 auto;
	position: relative;
}

body {
	background-color: #282B2C;
	margin: 0;
}

/*ul {
	display: block;
	list-style: none;
	font-family: 'sans-serif';
}

li {
	float:right;
	padding-right: 3%;
}

a {
	text-decoration: none;
	color: #878f92;
	font-family: 'Bitter', serif;
	font-size: .75em;
} */

h1 {
	font-family: 'Bitter', serif;
	color: white;
	font-size: 2.2em;
	line-height: .8;
	text-align: center;
	padding-top: 18%;
}
	
h2 {
	font-family: 'Bitter', serif;
	color: white;
	font-size: 1.2em;
	text-align: center;
	line-height: 1.4;
	margin-top:-14px;
}

#socialmedia{ 
	width: 140px;
	margin: -17px auto;
	position: relative;
}

a:hover{
	opacity: .6;
}

#linkedin{
	float: left;
}

#mail{
	float:left;
}

.midcontainer {
	background-color: #CCEBF5;
}

h3 {
	font-family: 'Bitter', serif;
	font-style: italic;
	color: #090A0A;
	font-size: 1.5em;
	text-align: center;
	margin-top: 250px;
	padding-top: 5%;
}

#about {
	font-family: 'Bitter', serif;
	font-style: italic;
	color: #090A0A;
	font-size: 1em;
	text-align: center;
	margin: 0 20%;
	padding-bottom: 5%;
}

.line {
	border-style: solid;
	border-color: #090A0A;
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 1px;
	margin: 0 15%;

}

h4 {
	font-family: 'Bitter', serif;
	font-style: italic;
	color: #090A0A;
	font-size: 1.5em;
	text-align: center;
}

.exptable {
	width: 60%;
	margin: 0 25% 0 25%;
	font-family: 'Bitter', serif;
	font-style: italic;
	color: #090A0A;
	font-size: 1em;
	padding-bottom: 3%;
}

	@media screen and (max-width: 1000px) {
		.exptable {
			width: 80%;
			margin: 0 15% 0 13%;
			}
	}
		@media screen and (max-width: 755px) {
		.exptable {
			width: 80%;
			margin: 0 10% 0 10%
			}
	}

		@media screen and (max-width: 657px) {
		.exptable td {
			padding-top: 1em;
			padding-bottom: 1em;			}
	}


.exptable td:nth-child(1) {
	text-align: right;
	padding-right: 3%;
	padding-bottom: .5%;
	padding-top: .5%;
}

.resume {
	width: 200px;
	margin: 0 auto;
	font-family: 'Bitter', serif;
	color: #090A0A;
	text-align: center;
	font-size: .75em;
	line-height: .5;
	padding-top:2%;
	padding-bottom:4%;
}

.skilltable {
	width: 40%;
	margin: 0 auto;
	font-family: 'Bitter', serif;
	font-style: italic;
	color: #090A0A;
	border-collapse: collapse;
}
		/*@media screen and (max-width: 800px) {
		.skilltable {
			width: 65%;
			margin: 0 auto;
			}
	}
		@media screen and (max-width: 755px) {
		.skilltable {
			width: 80%;
			margin: 0 auto;
			border-spacing: 100px;
			}
	}*/


.skilltable th {
	font-size: 1em;
	text-align:left;
}

.thword {
	padding-right: 1.5em;
}

.skilltable td {
	font-size: .75em;
	padding-top: .5em;
	padding-bottom: .5em;
}

.skilltable tr{
	border-top: 1px solid;
}

.skill {
	padding-bottom:5%;
}

footer {
	background-color:#282B2C;
	padding: 3%;
	width: 140px;
	margin: 0 auto;
}


